<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>

<div class="background"></div>

<div class="login-container">

    <!-- Logo -->
    <div class="logo">
        <!-- Remplace le src par ton logo -->
        <img src="../assets/images/banner.png" alt="Logo">
    </div>

    <h2>Créer un compte</h2>
    <form id="signup-form">
        <input type="text" placeholder="Prénom" id="first_name" required>

        <input type="text" placeholder="Nom" id="last_name" required>

        <input type="email" placeholder="Email" id="email" required>
        <div class="error-message" id="email-error-message">Cette adresse email existe déjà</div>

        <input type="password" placeholder="Mot de passe" id="password" required>
        <div class="error-message" id="password-error-message">Le mot de passe doit contenir au minimum une majuscule, une minuscule, un chiffre et un symbole</div>

        <button type="submit" id="signup-btn" class="email-btn">Créer un compte</button>

         <div class="separator">
            <span>Vous avez déjà un compte ? <a href="..\views\login.html">Se connecter</a></span>
        </div>

    </form>

</div>

<!-- Modal de succès -->
<div id="success-modal" class="modal">
    <div class="modal-content">
        <h2>🎉 Compte créé avec succès </h2>
        <p>Votre compte a été créé avec succès. Vous pouvez maintenant vous connecter.</p>
        <button id="login-btn" class="email-btn">Se connecter</button>
    </div>
</div>

<script type="module" src="../assets/js/signup.js"></script>

</body>
</html>